# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
软件学院——课件和笔记/数据库/mooc/mooc全部笔记.pdf
软件学院——课件和笔记/数据库/mooc/mooc全部笔记.pdf
软件学院——课件和笔记/数据库/mooc/mooc全部笔记.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第01讲-初步认识数据库系统.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第02讲-数据库系统的结构抽象与演变.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第03讲关系模型之基本概念.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第04讲关系模型之关系代数.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第05讲关系模型之关系演算.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第06讲SQL语言之概览.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第07讲SQL语言之查询与视图.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第08讲SQL语言与完整性和安全性.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第09讲嵌入式SQL语言之基本技巧.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第10讲嵌入式SQL语言之动态SQL.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第11讲数据建模之思想与方法.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第12讲数据建模之工程化方法及案例分析.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第13讲数据库设计过程.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第14讲函数依赖及其公理定理.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第15讲关系模式设计之规范化形式.pdf
软件学院——课件和笔记/数据库/mooc/数据库系统基础讲义第16讲模式分解存在的问题及解决.pdf
