<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <meta name="viewpoint"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Financial Data Display-Group1</title>
    <style>
        body{
            background-color: white;
        }
        .stock{
            background-color: ghostwhite;
            margin:20px 0 0 0;
            border:10px;
            padding: 20px 40px 10px 40px;
        }
        .currency{
            background-color: ghostwhite;
            margin:20px 0 0 0;
            border:10px;
            padding: 20px 40px 10px 40px;
        }
        .futures{
            background-color: ghostwhite;
            margin:20px 0 0 0;
            border:10px;
            padding: 20px 40px 10px 40px;
        }
    </style>
</head>
<body>
    {% include "fdd/navbar.html" %}
    <div class="container">

        <div class="stock">
            <h2>Stock <span class="badge badge-success">Latest</span></h2>
            <div class="row">

                <div class="row row-cols-1 row-cols-md-3">
                  <div class="col mb-4">
                    <div class="card">
                      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1596574114117&di=82ce369669ebf34bfbbc347ddeee9c5d&imgtype=0&src=http%3A%2F%2Fgss0.baidu.com%2F-4o3dSag_xI4khGko9WTAnF6hhy%2Fzhidao%2Fpic%2Fitem%2F35a85edf8db1cb1315883f3bd054564e92584b30.jpg" class="card-img-top" alt="image">
                      <div class="card-body">
                        <h5 class="card-title">Xinhua News Agency</h5>
                        <p class="card-text">the biggest and most influential media organization in China, as well as the largest news agency in the world in terms of correspondents worldwide.</p>
                        <a href="xinhua" class="btn btn-primary">Go to Xinhua News Agency</a>
                      </div>
                    </div>
                  </div>
                  <div class="col mb-4">
                    <div class="card">
                      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1596574232393&di=b107eaff996d9c6e738a328bd6ad4b00&imgtype=0&src=http%3A%2F%2Fimg2.jqw.com%2F2015%2F05%2F02%2F1539561%2Fproduct%2Fb201703301513402275.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Hikvision</h5>
                        <p class="card-text">a partially state-owned Chinese manufacturer and supplier of video surveillance equipment for civilian and military purposes, headquartered in Hangzhou, China.</p>
                        <a href="haikang" class="btn btn-primary">Go to Hikvision</a>
                      </div>
                    </div>
                  </div>
                  <div class="col mb-4">
                    <div class="card">
                      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1596574272228&di=21f509c181211b6f457e1c7e5267ddae&imgtype=0&src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20171129%2Fb4ba3f8ae8f9493a9ef8f1535a07d2c4.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">iFlytek</h5>
                        <p class="card-text">a partially state-owned Chinese information technology company established in 1999.It creates voice recognition software and 10+ voice-based internet/mobile products covering education, communication, music, intelligent toys industries.</p>
                        <a href="keda" class="btn btn-primary">Go to iFlytek</a>
                      </div>
                    </div>
                  </div>
                  <div class="col mb-4">
                    <div class="card">
                      <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1120847696,231283953&fm=26&gp=0.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Kingsoft</h5>
                        <p class="card-text">a Chinese software company based in Beijing,founded in 1988 by Qiu Bojun.</p>
                        <a href="jinshan" class="btn btn-primary">Go to Kingsoft</a>
                      </div>
                    </div>
                  </div>
                  <div class="col mb-4">
                    <div class="card">
                      <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=34350824,2994786524&fm=26&gp=0.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">M&G Stationery</h5>
                        <p class="card-text">a stationery company headquartered in the Guangming Economic Zone in Fengxian District, Shanghai.</p>
                        <a href="chenguang" class="btn btn-primary">Go to M&G Stationery</a>
                      </div>
                    </div>
                  </div>
                </div>

            </div>

        </div>
    </div>



    <div class="container">

        <div class="currency">
            <h2>Currency <span class="badge badge-success">Latest</span></h2>
            <div class="row">

                <div class="row row-cols-1 row-cols-md-3">
                  <div class="col mb-4">
                    <div class="card">
                      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1596572200121&di=629f00775e9e86b2a3b375d2f6b28a82&imgtype=0&src=http%3A%2F%2Fpics1.baidu.com%2Ffeed%2Fc8177f3e6709c93d89cf7d8ae037f8dbd100549b.jpeg%3Ftoken%3D6429ff7e230202b96da05e902db4acfa" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">U.S. Dollar Index</h5>
                        <p class="card-text">an index (or measure) of the value of the United States dollar relative to a basket of foreign currencies, often referred to as a basket of U.S. trade partners' currencies.</p>
                        <a href="dollar" class="btn btn-primary">Go to U.S. Dollar Index</a>
                      </div>
                    </div>
                  </div>
                  <div class="col mb-4">
                    <div class="card">
                      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1596572533731&di=287c7cc4fb94853e183e3123bcb6b778&imgtype=0&src=http%3A%2F%2Fres.dyhjw.com%2Fueditor%2Fphp%2Fupload%2Fimage%2F20160601%2F1464746182845703.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Pound sterling</h5>
                        <p class="card-text"> the official currency of the United Kingdom, Jersey, Guernsey, etc. The Pound sterling is the oldest currency in continuous use.</p>
                        <a href="pound" class="btn btn-primary">Go to Pound sterling</a>
                      </div>
                    </div>
                  </div>

                </div>

            </div>

        </div>
    </div>


        <div class="container">

        <div class="futures">
            <h2>Futures <span class="badge badge-success">Latest</span></h2>
            <div class="row">

                <div class="row row-cols-1 row-cols-md-3">
                  <div class="col mb-4">
                    <div class="card">
                      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1596572878532&di=69b098b85173e4a16a47771d9395fa3c&imgtype=0&src=http%3A%2F%2Fwww.qnong.com.cn%2Fuploadfile%2F2016%2F0819%2F20160819092540665.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Gold</h5>
                        <p class="card-text">the most popular as an investment of all the precious metals. Investors generally buy gold as a way of diversifying risk, especially through the use of futures contracts and derivatives.</p>
                        <a href="gold" class="btn btn-primary">Go to Gold</a>
                      </div>
                    </div>
                  </div>
                  <div class="col mb-4">
                    <div class="card">
                      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1596573500355&di=b3c0068d4d7bf2b8f9148c5391e6d614&imgtype=0&src=http%3A%2F%2Fwww.cngoldzone.com%2Fuploadfile%2F2019%2F0428%2F20190428093204873.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Silver</h5>
                        <p class="card-text">has been regarded as a form of money and store of value for more than 4,000 years, although it lost its role as legal tender in developed countries when the use of the silver standard came to a final end in 1935.</p>
                        <a href="silver" class="btn btn-primary">Go to silver</a>
                      </div>
                    </div>
                  </div>
                  <div class="col mb-4">
                    <div class="card">
                      <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3514427004,37090696&fm=26&gp=0.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Natural gas</h5>
                        <p class="card-text">are mainly driven by supply and demand fundamentals. However, natural gas prices may also be linked to the price of crude oil and petroleum products, especially in continental Europe.</p>
                        <a href="naturalgas" class="btn btn-primary">Go to Natural gas</a>
                      </div>
                    </div>
                  </div>
                  <div class="col mb-4">
                    <div class="card">
                      <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2809835242,4193268735&fm=26&gp=0.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Soybean</h5>
                        <p class="card-text">a species of legume native to East Asia, widely grown for its edible bean, which has numerous uses.</p>
                        <a href="soybean" class="btn btn-primary">Go to Soybean</a>
                      </div>
                    </div>
                  </div>

                </div>

            </div>

        </div>
    </div>




    </body>
</html>