<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
     <meta name="referrer" content="never">
    <meta name="viewpoint"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Hikvision</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <style>
        body{
            background-color: white;
        }
        .chart-container{
            background-color: ghostwhite;
            margin:20px 0 0 0;
            border:10px;
            padding: 20px 40px 10px 40px;
        }
    </style>
</head>
<body>
    {% include "fdd/navbar.html" %}

    <div class="container">
    <h2>Share Price of Hikvision in July</h2>
    <div id="d94c339768c74cd199c830f3d12992df" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_d94c339768c74cd199c830f3d12992df = echarts.init(
            document.getElementById('d94c339768c74cd199c830f3d12992df'), 'white', {renderer: 'canvas'});
        var option_d94c339768c74cd199c830f3d12992df = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "kline",
            "data": [
                [
                    30.49,
                    32.12,
                    30.46,
                    32.19
                ],
                [
                    32.4,
                    33.08,
                    32.0,
                    33.3
                ],
                [
                    32.9,
                    33.38,
                    32.45,
                    33.48
                ],
                [
                    33.62,
                    35.36,
                    33.62,
                    36.0
                ],
                [
                    36.0,
                    35.4,
                    35.0,
                    36.97
                ],
                [
                    35.39,
                    35.45,
                    34.87,
                    35.7
                ],
                [
                    35.68,
                    38.36,
                    35.39,
                    38.74
                ],
                [
                    37.6,
                    36.96,
                    36.76,
                    37.87
                ],
                [
                    36.9,
                    37.63,
                    36.51,
                    37.97
                ],
                [
                    37.44,
                    36.55,
                    36.02,
                    37.54
                ],
                [
                    36.61,
                    36.03,
                    36.0,
                    37.1
                ],
                [
                    36.0,
                    34.79,
                    34.0,
                    36.61
                ],
                [
                    34.79,
                    35.11,
                    34.5,
                    35.45
                ],
                [
                    35.4,
                    35.03,
                    34.36,
                    35.42
                ],
                [
                    35.25,
                    34.69,
                    34.3,
                    35.5
                ],
                [
                    35.68,
                    36.07,
                    35.22,
                    36.7
                ],
                [
                    35.4,
                    35.4,
                    34.46,
                    35.89
                ],
                [
                    34.6,
                    33.63,
                    33.48,
                    35.13
                ],
                [
                    34.9,
                    36.99,
                    34.9,
                    36.99
                ],
                [
                    38.07,
                    36.72,
                    35.98,
                    38.07
                ],
                [
                    36.5,
                    37.8,
                    36.19,
                    38.06
                ]
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "kline"
            ],
            "selected": {
                "kline": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2017/07/1",
                "2017/07/2",
                "2017/07/3",
                "2017/07/6",
                "2017/07/7",
                "2017/07/8",
                "2017/07/9",
                "2017/07/10",
                "2017/07/13",
                "2017/07/14",
                "2017/07/15",
                "2017/07/16",
                "2017/07/17",
                "2017/07/20",
                "2017/07/21",
                "2017/07/22",
                "2017/07/23",
                "2017/07/24",
                "2017/07/27",
                "2017/07/28",
                "2017/07/29"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e91\u8ba1\u7b97\u7b2c\u4e00\u7ec4\u6d77\u5eb7\u80a17\u6708k\u7ebf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_d94c339768c74cd199c830f3d12992df.setOption(option_d94c339768c74cd199c830f3d12992df);
    </script>
    </div>
</body>
</html>
