    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/1.16.0/esm/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="">Financial Data Display</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stock
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/xinhua">Xinhua News Agency</a>
              <a class="dropdown-item" href="/haikang">Hikvision</a>
              <a class="dropdown-item" href="/keda">iFlytek</a>
              <a class="dropdown-item" href="/jinshan">Kingsoft</a>
              <a class="dropdown-item" href="/chenguang">M&G Stationery</a>
            </div>
          </li>

         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Currency
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/dollar">U.S. Dollar Index</a>
              <a class="dropdown-item" href="/pound">Pound sterling</a>
            </div>
          </li>

         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Futures
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/gold">Gold</a>
              <a class="dropdown-item" href="/silver">Silver</a>
              <a class="dropdown-item" href="/naturalgas">Natural gas</a>
              <a class="dropdown-item" href="/soybean">Soybean</a>
            </div>
          </li>

         <li class="nav-item">
            <a class="nav-link" href="/aboutus">about us</a>
          </li>
        </ul>
      </div>
    </nav>