<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <meta name="viewpoint"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>financial data display-group1</title>
    <style>
        body{
            background-color: white;
        }
        .aboutus{
            background-color: ghostwhite;
            margin:20px 0 0 0;
            border:10px;
            padding: 20px 40px 10px 40px;
        }
    </style>
</head>
<body>
        {% include "fdd/navbar.html" %}
    <div class="container">
        <div class="aboutus">
            <p>We are GROUP 1 in the industrial practice with Huaxin corporation.Our group consists of Shaobo Wang,Kaixin Li,Kaihua Liu,Mingye Zou,four excellent software engineering students in Harbin University of Technology(Weihai).</p>
            <p>Welcome to contact us!</p>
        </div>

    </div>
</body>
</html>
