<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <meta name="viewpoint"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Natural gas Futures</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <style>
        body{
            background-color: white;
        }
        .chart-container{
            background-color: ghostwhite;
            margin:20px 0 0 0;
            border:10px;
            padding: 20px 40px 10px 40px;
        }
    </style>
</head>
<body>
    {% include "fdd/navbar.html" %}

    <div class="container">
    <h2>Natural Gas Futures in July</h2>
    <div id="e75f8b985c7d41e5a0158eedb72cf0ff" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_e75f8b985c7d41e5a0158eedb72cf0ff = echarts.init(
            document.getElementById('e75f8b985c7d41e5a0158eedb72cf0ff'), 'white', {renderer: 'canvas'});
        var option_e75f8b985c7d41e5a0158eedb72cf0ff = {
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0,
            "color": [
                "#c23531",
                "#2f4554",
                "#61a0a8",
                "#d48265",
                "#749f83",
                "#ca8622",
                "#bda29a",
                "#6e7074",
                "#546570",
                "#c4ccd3",
                "#f05b72",
                "#ef5b9c",
                "#f47920",
                "#905a3d",
                "#fab27b",
                "#2a5caa",
                "#444693",
                "#726930",
                "#b2d235",
                "#6d8346",
                "#ac6767",
                "#1d953f",
                "#6950a1",
                "#918597"
            ],
            "series": [
                {
                    "type": "candlestick",
                    "name": "kline",
                    "data": [
                        [
                            1.754,
                            1.671,
                            1.655,
                            1.758
                        ],
                        [
                            1.693,
                            1.734,
                            1.672,
                            1.7380000000000002
                        ],
                        [
                            1.723,
                            1.746,
                            1.715,
                            1.75
                        ],
                        [
                            1.7380000000000002,
                            1.83,
                            1.733,
                            1.864
                        ],
                        [
                            1.829,
                            1.876,
                            1.829,
                            1.9240000000000002
                        ],
                        [
                            1.879,
                            1.824,
                            1.808,
                            1.886
                        ],
                        [
                            1.82,
                            1.7790000000000001,
                            1.7719999999999998,
                            1.891
                        ],
                        [
                            1.776,
                            1.805,
                            1.7369999999999999,
                            1.835
                        ],
                        [
                            1.785,
                            1.739,
                            1.725,
                            1.815
                        ],
                        [
                            1.729,
                            1.746,
                            1.7080000000000002,
                            1.771
                        ],
                        [
                            1.743,
                            1.778,
                            1.7280000000000002,
                            1.7919999999999998
                        ],
                        [
                            1.7830000000000001,
                            1.723,
                            1.703,
                            1.808
                        ],
                        [
                            1.726,
                            1.7180000000000002,
                            1.69,
                            1.75
                        ],
                        [
                            1.7,
                            1.641,
                            1.605,
                            1.7069999999999999
                        ],
                        [
                            1.6440000000000001,
                            1.675,
                            1.6219999999999999,
                            1.681
                        ],
                        [
                            1.669,
                            1.681,
                            1.6219999999999999,
                            1.6980000000000002
                        ],
                        [
                            1.694,
                            1.785,
                            1.6769999999999998,
                            1.805
                        ],
                        [
                            1.784,
                            1.808,
                            1.746,
                            1.818
                        ],
                        [
                            1.796,
                            1.734,
                            1.714,
                            1.8
                        ],
                        [
                            1.7309999999999999,
                            1.8,
                            1.719,
                            1.8030000000000002
                        ],
                        [
                            1.796,
                            1.854,
                            1.7690000000000001,
                            1.893
                        ],
                        [
                            1.921,
                            1.829,
                            1.818,
                            1.9280000000000002
                        ],
                        [
                            1.835,
                            1.7990000000000002,
                            1.781,
                            1.8619999999999999
                        ]
                    ]
                }
            ],
            "legend": [
                {
                    "data": [
                        "kline"
                    ],
                    "selected": {
                        "kline": true
                    },
                    "show": true,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "xAxis": [
                {
                    "show": true,
                    "scale": true,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": false,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    },
                    "data": [
                        "2020\u5e747\u67081\u65e5",
                        "2020\u5e747\u67082\u65e5",
                        "2020\u5e747\u67083\u65e5",
                        "2020\u5e747\u67086\u65e5",
                        "2020\u5e747\u67087\u65e5",
                        "2020\u5e747\u67088\u65e5",
                        "2020\u5e747\u67089\u65e5",
                        "2020\u5e747\u670810\u65e5",
                        "2020\u5e747\u670813\u65e5",
                        "2020\u5e747\u670814\u65e5",
                        "2020\u5e747\u670815\u65e5",
                        "2020\u5e747\u670816\u65e5",
                        "2020\u5e747\u670817\u65e5",
                        "2020\u5e747\u670820\u65e5",
                        "2020\u5e747\u670821\u65e5",
                        "2020\u5e747\u670822\u65e5",
                        "2020\u5e747\u670823\u65e5",
                        "2020\u5e747\u670824\u65e5",
                        "2020\u5e747\u670827\u65e5",
                        "2020\u5e747\u670828\u65e5",
                        "2020\u5e747\u670829\u65e5",
                        "2020\u5e747\u670830\u65e5",
                        "2020\u5e747\u670831\u65e5"
                    ]
                }
            ],
            "yAxis": [
                {
                    "show": true,
                    "scale": true,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": false,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    },
                    "splitArea": {
                        "show": true,
                        "areaStyle": {
                            "opacity": 1
                        }
                    }
                }
            ],
            "title": [
                {
                    "text": "\u4e91\u8ba1\u7b97\u7b2c\u4e00\u7ec4\u5929\u7136\u6c14\u671f\u8d277\u6708k\u7ebf\u56fe",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "dataZoom": [
                {
                    "show": true,
                    "type": "inside",
                    "realtime": true,
                    "start": 20,
                    "end": 80,
                    "orient": "horizontal",
                    "zoomLock": false,
                    "filterMode": "filter"
                }
            ]
        };
                chart_e75f8b985c7d41e5a0158eedb72cf0ff.setOption(option_e75f8b985c7d41e5a0158eedb72cf0ff);
    </script>
    </div>
</body>
</html>
