<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
     <meta name="referrer" content="never">
    <meta name="viewpoint"
          content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=0.8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Silver Futures</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <style>
        body{
            background-color: white;
        }
        .chart-container{
            background-color: ghostwhite;
            margin:20px 0 0 0;
            border:10px;
            padding: 20px 40px 10px 40px;
        }
    </style>
</head>
<body>
    {% include "fdd/navbar.html" %}
    <div class="container">
    <h2>Silver Futures in July</h2>
    <div id="bc93e7f650294c0884f70ce8fb61ba2e" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_bc93e7f650294c0884f70ce8fb61ba2e = echarts.init(
            document.getElementById('bc93e7f650294c0884f70ce8fb61ba2e'), 'white', {renderer: 'canvas'});
        var option_bc93e7f650294c0884f70ce8fb61ba2e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "candlestick",
            "name": "kline",
            "data": [
                [
                    18.27,
                    18.582,
                    18.245,
                    18.78
                ],
                [
                    18.585,
                    18.699,
                    18.235,
                    18.72
                ],
                [
                    18.625,
                    19.160999999999998,
                    18.585,
                    19.215
                ],
                [
                    19.15,
                    18.962,
                    18.83,
                    19.445
                ],
                [
                    19.025,
                    19.053,
                    18.91,
                    19.195
                ],
                [
                    19.075,
                    19.168,
                    19.058,
                    19.203
                ],
                [
                    19.08,
                    19.788,
                    19.08,
                    19.81
                ],
                [
                    19.455,
                    19.53,
                    19.24,
                    19.685
                ],
                [
                    19.645,
                    19.761,
                    19.525,
                    19.845
                ],
                [
                    19.82,
                    19.573,
                    19.475,
                    19.87
                ],
                [
                    19.535,
                    19.764,
                    19.355,
                    19.79
                ],
                [
                    19.755,
                    19.727,
                    19.71,
                    19.76
                ],
                [
                    19.765,
                    20.192,
                    19.655,
                    20.34
                ],
                [
                    20.34,
                    21.557,
                    20.315,
                    21.725
                ],
                [
                    21.7,
                    23.144000000000002,
                    21.68,
                    23.42
                ],
                [
                    23.405,
                    22.988000000000003,
                    22.475,
                    23.67
                ],
                [
                    22.835,
                    22.85,
                    22.58,
                    23.185
                ],
                [
                    22.97,
                    23.375,
                    22.965,
                    23.44
                ],
                [
                    22.97,
                    24.500999999999998,
                    22.94,
                    24.82
                ],
                [
                    24.7,
                    24.3,
                    22.46,
                    26.275
                ],
                [
                    24.58,
                    24.320999999999998,
                    23.435,
                    25.12
                ],
                [
                    24.45,
                    23.362,
                    23.0,
                    24.58
                ],
                [
                    23.625,
                    24.215999999999998,
                    23.41,
                    24.67
                ]
            ]
        }
    ],
    "legend": [
        {
            "data": [
                "kline"
            ],
            "selected": {
                "kline": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020\u5e747\u67086\u65e5",
                "2020\u5e747\u67087\u65e5",
                "2020\u5e747\u67088\u65e5",
                "2020\u5e747\u67089\u65e5",
                "2020\u5e747\u670810\u65e5",
                "2020\u5e747\u670812\u65e5",
                "2020\u5e747\u670813\u65e5",
                "2020\u5e747\u670814\u65e5",
                "2020\u5e747\u670815\u65e5",
                "2020\u5e747\u670816\u65e5",
                "2020\u5e747\u670817\u65e5",
                "2020\u5e747\u670819\u65e5",
                "2020\u5e747\u670820\u65e5",
                "2020\u5e747\u670821\u65e5",
                "2020\u5e747\u670822\u65e5",
                "2020\u5e747\u670823\u65e5",
                "2020\u5e747\u670824\u65e5",
                "2020\u5e747\u670826\u65e5",
                "2020\u5e747\u670827\u65e5",
                "2020\u5e747\u670828\u65e5",
                "2020\u5e747\u670829\u65e5",
                "2020\u5e747\u670830\u65e5",
                "2020\u5e747\u670831\u65e5"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 1
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e91\u8ba1\u7b97\u7b2c\u4e00\u7ec4\u767d\u94f6\u671f\u8d277\u6708k\u7ebf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_bc93e7f650294c0884f70ce8fb61ba2e.setOption(option_bc93e7f650294c0884f70ce8fb61ba2e);
    </script>
    </div>
</body>
</html>
